<section class="the-top">
    <h1>Welcome to your dashboard {{user.username}}</h1>
</section>
<section>
{{#each postsArray as | post |}}
    <article>
        <h1>{{post.title}}</h1>
        <h1>{{user.username}}</h1>
    </article>
{{/each}}
</section>
