<section>
    <article class="login-form">
        Email: <input id="email" type="text" >
        Password: <input id="password" type="text" >
        <button onclick=loginButton()>Submit</button>
        <button onclick=forgotPassword()>I Forgot My Password</button>
    </article>
</section>