<section>
    <article style="display: flex;flex-direction: column;width: 50%;
    margin: 0 auto;
    margin-top: 10vh; height: 22vh;
    justify-content: space-between;">
        UserName: <input id="userNameInput" type="text" >
        Name: <input id="name" type="text" >
        Email: <input id="email" type="text" >
        Password: <input id="password" type="text" >
        <button onclick=loginButton()>Submit</button>
    </article>
</section>