<section>
    <article style="display: flex;flex-direction: column;width: 50%;
    margin: 0 auto;
    margin-top: 10vh; height: 22vh;
    justify-content: space-between;">
        UserName: <input id="userNameInput" type="text" >
        Name: <input id="name" type="text" >
        Email: <input id="email" type="text" >
        Password: <input id="password" type="text" >
        <button onclick=loginButton()>Submit</button>
    </article>
</section>
<script>
    const loginButton = async () => {
        console.log("submitted");

        const Username = document.getElementById("userNameInput")
        const Name = document.getElementById("name")
        const Email = document.getElementById("email")
        const Password = document.getElementById("password")

        userData = {
            username: Username.value, 
            name: Name.value,
            email: Email.value,
            password: Password.value,
        }

        console.log(userData);

         const response = await fetch("/api/signup", {
            method: "POST",
            headers: {
            "Content-Type": "application/json",
            },
            body: JSON.stringify(userData),
        });

        if (response.ok) {
            console.log("Signing Up")
            Username.value = '';
            Name.value = '';
            Email.value = '';
            Password.value = '';
            window.location.href='/login';
            alert(`Signed Up Successfully, please login`);
        } else {
            alert("Failed to signup");
            console.log(response);
        }
    }
</script>