body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  background-color: aliceblue;
}

a {
  text-decoration: none !important;
  color: inherit;
}

header {
  display: flex;
  flex-direction: row;
  background-color: rgb(102, 4, 4);
}

header button {
  width: 10%;
  height: 40px;
  background-color: rgb(102, 4, 4);
  color: aliceblue;
  border-style: none;
  font-size: larger;
  cursor: auto;
}

.the-top {
  display: flex;
  flex-direction: row;
  background-color: rgb(102, 4, 4);
  padding-left: 3%;
  color: aliceblue;
}

/* Main post styling */
.large-post-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.large-post-holder button {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
  background-color: rgb(102, 4, 4);
  color: aliceblue;
  padding: 1%;
  border-style: solid;
  border-radius: 10px;
  margin-top: 10%;
}

.post-holder {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgb(102, 102, 102);
  border-radius: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: rgb(102, 102, 102);
  margin: 1%;
}

.post-title-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: aliceblue;
  padding: 1%;
}

.post-content-holder {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 1%;
}

/* Comment styling */
.content-input {
  padding: 20px 10px;
}

/* Submission Form Styling */
.sub-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: 10vh;
  height: 22vh;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 1%;
  border-radius: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: rgb(102, 102, 102);
}

.sub-form button {
  background-color: rgb(102, 102, 102);
  color: aliceblue;
  border-style: solid;
}
