<div class="row align-center mb-5">
    <div class="col-md-6">
        <h2>{{{name}}} Be the name</h2>
    </div>
    <div class="col-md-6">
        <h3><a href="mailto:test@gmail.com">{{{email}}}</a>The email</h3>
    </div>
</div>